# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #


.DS_Store
hs_err_pid*
.idea
.DS_Store
simple-server/target/*
tools/target/*
simple-server/fes/*
