# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #


hs_err_pid*
.idea
.DS_Store
*/.DS_Store
simple-server/target/*
tools/target/*
simple-server/fes/*
simple-desk/yarn.lock
simple-server/.DS_Store
simple-server/.DS_Store
